body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    color: green;
    font-size: 900;
}
p {
    color: blueviolet;
    background-color:black;
}
li {
    color: red;
}
a {
    color: aquamarine;
}
